*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  width: 100vw;
  height: 100vh;
  background-color: #B7D1BC;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: normal; */
  letter-spacing: 2px;
  font-style: italic;
}

main{
  width: 60vw;
  height: 80vh;
  /* border: 1px solid darkgray; */
  border-radius: 10px;
  background-color: #DDE7DC;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

#result{
  max-width: 70%;
  text-align: center;
  display: none;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
}

.paraDisplayDiv{
  width: 100%;
  height: 35%;
  /* background-color: red; */
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;

}

.correct{
  color: green;
}

.wrong{
  color: red;
  text-decoration: line-through;
}

#test{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;

}
.timer{
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  gap: 10px;
  font-size: 16px;
  text-align: right;
  font-weight: bold;
  font-family: cursive;
}
#textInput{
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
#textInput:focus{
  outline: 1px solid gray;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn{
  padding: 10px 30px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #152D56;
  border-radius: 20px;
}
.btn:hover{
  background-color: darkslategrey;
}

#testType {
  width: 20%;
  border-radius: 20px;
  padding: 5px 30px;
  border: none;
  font-size: 14px;
  appearance: none;
  background-image: url(./dropdown.png);
  background-repeat: no-repeat;
  background-size: 15px;
  text-transform: capitalize;
  background-position-x: calc(100% - 20px);
  background-position-y: 10px;
}
#testType:focus{
  outline: none;
}